html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem; }

li {
  list-style: none; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.flex-container {
  display: flex; }

.content-wrapper {
  width: 77%;
  border-left: 1px solid #e3e3e3; }

.fixed {
  position: fixed; }

.margin {
  margin-top: 60px; }

@media (max-width: 900px) {
  .flex-container {
    flex-direction: column; }
  .content-wrapper {
    width: 100%; }
  .margin {
    margin: 0; } }

.sidebar {
  width: 23%;
  min-width: 23%;
  height: 100vh;
  padding: 0 20px; }

.sidebarContainer {
  width: inherit;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }

.header {
  margin-top: 20px;
  box-sizing: inherit; }

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: 0; }
  .sidebarContainer {
    justify-content: center;
    text-align: center;
    position: inherit;
    height: auto; }
  .footer h3, .footer p {
    display: none; } }

.socialContainer {
  display: flex;
  margin: 20px 0; }
  .socialContainer .social-icon {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: black;
    color: white;
    padding: 15px 17px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%; }
  .socialContainer .social-icon:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .socialContainer .li {
    transition: color 0.3s ease; }
  .socialContainer .fac {
    transition: color 0.3 ease; }
  .socialContainer .li:hover {
    color: #0077b5; }
  .socialContainer .fac:hover {
    color: #3b5998; }

@media (max-width: 900px) {
  .socialContainer {
    justify-content: center; } }

.workItem {
  display: flex;
  align-items: center;
  padding: 20px 0; }
  .workItem span {
    width: 30%; }
    .workItem span img {
      width: 100%;
      max-height: 230px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .workItem div {
    width: 70%;
    padding-left: 55px;
    display: flex;
    flex-direction: column; }
    .workItem div a {
      width: fit-content; }
    .workItem div h3 {
      margin: 0;
      padding: 0;
      font-size: 2.5rem; }

.certItem .certCard {
  text-align: center;
  margin: 0 10px;
  transition: all .2s ease-in-out; }
  .certItem .certCard img {
    width: 100%; }

.toolBox {
  display: flex;
  flex-wrap: wrap; }

.toolItem {
  padding: 20px;
  text-align: center; }
  .toolItem img {
    width: 150px;
    height: 150px; }
  .toolItem div {
    padding-left: 55px; }

@media (max-width: 900px) {
  .box-view {
    flex-direction: column; }
  .row {
    padding: 0; }
  .toolBox {
    padding: 0; } }

.pageNav {
  margin: 0;
  padding: 0; }
  .pageNav li {
    text-align: center;
    width: 80px;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    list-style: none;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .pageNav li .nav-links {
      text-decoration: none; }
  .pageNav li:hover {
    background-color: black; }
    .pageNav li:hover .nav-links {
      color: white; }

@media (max-width: 900px) {
  .pageNav {
    display: flex;
    justify-content: center; } }

.views-wrapper {
  padding-left: 5%; }
  .views-wrapper h1 {
    text-decoration: underline;
    font-size: 4.8rem; }

@media (max-width: 900px) {
  .views-wrapper {
    padding: 0; }
    .views-wrapper h1 {
      padding-left: 5%; } }

.box-view {
  display: flex; }

.contentHeader {
  position: fixed;
  width: 100%; }

@media (max-width: 900px) {
  .contentHeader {
    top: 0;
    right: 0; } }
