html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;

}
li{
    list-style: none
}

figcaption{
    font-size: $l-size;
}
button {
    cursor: pointer;

}

button:disabled{
    cursor: default;
}

.flex-container{
    display: flex;

}

.content-wrapper{
    width: 77%;
    border-left: 1px solid $main-gray;

}
.fixed{

    position: fixed;

}
.margin{
    margin-top: 60px;
}

@media (max-width: 900px){
    .flex-container{
        flex-direction: column;
    }
    .content-wrapper{
        width: 100%;
    }
    .margin{
        margin: 0;
    }
}
