html{
    font-size: 62.5%;
}

body{
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;

}

button {
    cursor: pointer;

}

button:disabled{
    cursor: default;
}

.flex-container{
    display: flex;

}

.content-wrapper{
    width: 77%;

}
.fixed{

    position: fixed;

}
.margin{
    margin-top: 60px;
}

@media (max-width: 900px){
    .flex-container{
        flex-direction: column;
    }
}
